
@mixin tablet {
    @media (min-width: 800px) { @content; }
  }

  @mixin desktop{
    @media (min-width: 1200px) { @content; }
  }

$color1: rgba(254, 147, 140, 1);
$color2: rgba(230, 184, 156, 1);
$color3: rgba(234, 210, 172, 1);
$color4: rgba(156, 175, 183, 1);
$color5: rgba(66, 129, 164, 1);

$color-black: #000;
$color-white: #fff;
$color-slate-grey: #4e5756;

$color-primary: $color-black;
$text-body: $color-slate-grey;

$color-secondary: #00a896