@import '../variables.scss';

.header {
    margin: 1rem 0 0.5rem 0;
}

.meta {
    display: flex;
    flex-direction: row;
    flex-basis: 2;
    margin-bottom: 1rem;

    .date {
        margin-right: 12px;
    }

    .category {
        font-weight: 800;
        color: $color-secondary;
    }
}

.cta {
    color: $color-secondary;
    border: solid 1px $color-secondary;
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    transition: background-color 0.25s ease, color 0.25s ease;

    &:hover {
        background-color: $color-secondary;
        color: $color-white;
    }
}